@charset "utf-8";
:root{ --cor1: #363bc6;
    --cor2:#5352d4;
    --cor3:#7068e3;
    --cor4:#8d7ff1;
    --cor5: #aa95ff ;

}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#capa-menu{
    background-image: url(imagens/cidade\ capa.jpeg);
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(253, 252, 252);
    padding: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.555);
    font-weight: bold;
}


header{
    background-color: var(--cor2);
    text-align: center;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.217);
   
}
header ul{
    color: rgb(0, 0, 0);
}
header a{
    color:#fffdfd;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.5em;
}
header ul a:hover{
    background-color: rgb(7, 196, 244);
    color:  black;
}
.ul-li{
   
    list-style-type: none;
    margin-right: 25px;
    margin-top: 25px;
}
#botao-menu{
    width: 30px;
    cursor: pointer;
    background-color: transparent;
}
#botao-menu:hover{
    background-color: #5352d4;
    border-radius: 1%;
    border: none;
}
button{
    border: 0;
    background-color: transparent;
  
}

#itens{
    display: none;
  
}


main{
   padding: 30px;
   border: solid 1px black;
   text-transform: initial;
}
main h1{
    padding: 30px;
    margin-top: 100px;
  
}



main h2{
    padding: 30px;
    text-transform: capitalize;
}

main p{
    margin-top: 40px;
    text-indent: 10px;
    font-size: 1.3em;
    line-height: 40px;
}



.imagens{
    width: 350px;
    margin-top: 50px;
    border: solid 1px rgba(0, 0, 0, 0.52);
}

.imagens:hover{ box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.544)
    ;
    cursor: pointer;
    
 
}

footer{
    background-color: #c8c0e8;
    text-align: center;
}

footer a{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
  
}
.a-carros{
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #aa95ff;
    color: #000000;
    border-radius: 5px;
  padding: 2px;
    
}

footer ul a:hover{
    color: #000000;
    background-color: rgb(68, 131, 186);
}

@media screen and (min-width: 800px){
.imagens{ width: 60%;
    
}
#itens{
    display: flex;
    margin-left: 20px;
}
#botao-menu{
    display: none;
}
.ul-li{
   margin-bottom: 40px;
}
}